<div>
  <h1>{{title}} </h1>
  
  <app-draft *ngIf="show"  (draftContentEvent)="getDraftContent($event)"></app-draft>
  <div class="notes">
    <app-note *ngFor="let note of notes" draft={{note}}></app-note>
</div>

</div>

<router-outlet></router-outlet>
